{
    margin: 0%;
    padding: 0%;

}
.cabecalho {
    background-color: #210387;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;

}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.escola-imagem{
    width: 180px;
}
.estudante-imagem{
    width: 120px;
}